h1{
	text-align:center;
	color:#00f;
	border-bottom:dotted #0000FF;
	width:50%;
	margin:auto;
}
table{
	border:1px solid #F00;
	padding:20px 50px;
	margin-top:50px;
	border:10px; 
}
body{
	background-color:#FFC;
	text-align:center;
	color:black;
	margin-top:100px;
		margin-top:50px;
}