h1{
			text-align:center;
		}
		table{
			background-color:#FFC;
			padding:5px;
			border:#666 5px solid;
		}
		.Pas{
			font-size:18px;
			color:blue;
			font-weight:bold; 
		}
		.Apl{
			font-size:18px;
			color:yellow; 
			font-weight:bold;

		}
		.Rep{
			font-size:18px;
			color:red;
			font-weight:bold;

		}